<ion-view title="Login" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="firebaseui"></div>
    <!-- <form id="login-form5" class="list"> -->
    <!-- <ion-list id="login-list4">
        <label class="item item-input" id="login-input6">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" ng-model="data.email">
        </label>
        <label class="item item-input" id="login-input7">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="data.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div> -->
    <!-- <a ui-sref="tabsController.welcome()" id="login-button9" class="button button-stable button-block">Log in</a> -->
    <!-- <button id="login-button9" class="button button-stable button-block" ng-click="loginEmail()">Log in</button>
      <a ui-sref="signup()" id="login-button10" class="button button-positive button-block button-clear">Or create an account</a>
    </form> -->
  </ion-content>
</ion-view>
