<ion-view title="Signup" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="signup-form6" class="list">
      <ion-list id="signup-list5">
        <label class="item item-input" id="signup-input8">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input9">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input10">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="createProfile()" id="signup-button11" class="button button-positive button-block">Sign up</a>
    </form>
    <a ui-sref="login()" id="signup-button17" class="button button-stable button-block">Back</a>
  </ion-content>
</ion-view>
