<ion-view title="Email Verification" id="page12" ng-app="app" ng-controller="verifyCtrl">
  <ion-content padding="true" class="has-header">
    <div class="card">
      <div class="item item-divider">
        Email Verification Sent
      </div>
      <div class="item item-text-wrap">
        Please check your inbox for a verification email. Follow the instructions and log back in!
      </div>
    </div>
    <a class="button button-positive button-block" ng-click="logout()">Log Out</a>
  </ion-content>
</ion-view>
