<ion-view title="Welcome" id="page2" ng-app="app" ng-controller="welcomeCtrl">
  <ion-content padding="true" class="has-header">
    <h1 id="welcome-heading1" style="color:#000000;">Find a car</h1>
    <form id="welcome-form1" class="list">
      <label class="item item-select" id="welcome-select1">
        <span class="input-label">From</span>
        <select ng-model="findParams.from">
          <option>Clock Tower</option>
          <option>Village House</option>
          <option>Brookings Steps</option>
          <option>Mallinkrodt</option>
          <option>Airport</option>
          <option>Loop</option>
          <option>Schnucks</option>
          <option>Target</option>
          <option>Galleria</option>
        </select>
      </label>
      <label class="item item-select" id="welcome-select2">
        <span class="input-label">To</span>
        <select ng-model="findParams.to">
          <option>Clock Tower</option>
          <option>Village House</option>
          <option>Brookings Steps</option>
          <option>Mallinkrodt</option>
          <option>Airport</option>
          <option>Loop</option>
          <option>Schnuks</option>
          <option>Galleria</option>
          <option>Target</option>
        </select>
      </label>
    </form>
    <div id="welcome-button-bar1" class="button-bar"></div>
    <h1 id="welcome-heading4" style="color:#000000;">Leaving</h1>
    <form id="welcome-form3" class="list">
      <label class="item item-input" id="welcome-input4">
        <span class="input-label">around</span>
        <input type="time" placeholder="12:00" ng-model="findParams.when">
      </label>
    </form>
    <a ui-sref="tabsController.available()" id="welcome-button7" class="button button-positive button-block" ng-click="find()">Submit</a>
  </ion-content>
</ion-view>
